/* ==========================================================================
   minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css
   ========================================================================== */


/* ==========================================================================
   Base styles
   ========================================================================== */
:root {
    --primaryColor: #363636;
}

*, :after, :before {
   box-sizing: border-box;
}

html {
 box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    font-family: 'Source Sans Pro', sans-serif;``
}

h1 {
    color: var(--primaryColor);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}



/* ==========================================================================
   Header Nav Menu
   ========================================================================== */
.menu {
   background: #fff url(/img/bg_pattern_slash.gif);
   padding: .5rem;
}

.menu .menu-logo {
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    margin: 1rem auto;
    width: 60px;
}

.menu h1 {
    display: none;
    font-size: 1.5rem;
    text-align: center;
}

.menu nav.menu-navMain ul.navMain-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu nav.menu-navMain ul.navMain-items li {
    margin: 0 .4rem;
}

.menu nav.menu-navSocial ul.navSocial-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu nav.menu-navSocial ul.navSocial-items li {

    margin: 1rem .25rem;
}

.menu nav.menu-navSocial ul.navSocial-items .navSocial-icons {
    font-size: 1.25rem;
}


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 840px) {
    .wrapper {
        height: 100vh;
        flex-direction: row;
        overflow: hidden;
    }

    .menu {
        flex: 0 0 15rem;
        max-width: 15rem;
        padding: 2rem 1rem;
    }

    .menu h1 {
        display: block;
    }

    .menu nav.menu-navMain ul.navMain-items {
        align-items: center;
        flex-direction: column;
    }

    .menu nav.menu-navMain ul.navMain-items li {
        margin: .75rem 0;
    }
}
