/* --------------------------------------------------------------------------
   Base styles
   -------------------------------------------------------------------------- */
:root {
    --about-linkColor: #245E5A;
    --bodySpacing: 1.25rem;
    --form-inputSize: 1.125rem;
    --highlight-default: #4ECDC4;
    --offset-2: 16.66667%;
    --primaryColor: #363636;
    --subtitleSize: 1.25rem;
    --textColor: #4A4A4A;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

h1,
h2 {
    color: var(--primaryColor);
}

h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    transition: 0.3s ease-out;
}

a:link,
a:visited {
    color: var(--primaryColor);
}

a:hover {
    color: var(--highlight-default);
}

ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

section:not(:last-of-type) {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

input,
select,
textarea {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    max-width: 88rem;
    width: 100%;
}

/* --------------------------------------------------------------------------
   Header Nav Menu
   -------------------------------------------------------------------------- */
.menu {
    align-items: center;
    background: #FFF url(/assets/img/bg_pattern_slash.png);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 1.25rem;
}

.menu-isFixed {
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    transition: transform 0.6s;
    width: 100%;
    z-index: 2;
}

.menu-isHidden {
    transform: translateY(-100%);
}

.menu .menu-body {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu .menu-body .menu-logo a {
    background: url(/assets/img/logo-pamcy.svg) no-repeat center;
    display: block;
    height: 60px;
    text-indent: -9999px;
    width: 60px;
}

/* Main Menu */
.menu .menu-body .menu-navMain h1 {
    display: none;
    text-align: center;
}

.menu .menu-body .menu-navMain .navMain-items {
    display: flex;
}

.menu .menu-body .menu-navMain .navMain-items li {
    padding-left: 1rem;
}

.menu .menu-body .menu-navMain .navMain-items li:first-child {
    padding-left: 0;
}

.menu .menu-body .menu-navMain .navMain-items li .navMain-items-isActive {
    color: var(--highlight-default);
}

/* Social Menu */
.menu .menu-navSocial {
    display: none;
}

/* --------------------------------------------------------------------------
   Intro Section
   -------------------------------------------------------------------------- */
.intro {
    background: url(/assets/img/bg-intro.jpg) no-repeat right center;
    background-size: cover;
    display: flex;
    height: auto;
    margin-top: 4rem;
    width: 100%;
}

.intro .intro-body {
    align-items: center;
    color: #FFF;
    padding: var(--bodySpacing);
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.intro .intro-body .intro-title {
    color: var(--highlight-default);
    font-size: 5rem;
    font-weight: 900;
}

.intro .intro-body .intro-text {
    color: #FFF;
    font-size: 1.5rem;
    line-height: 1.5;
}

.intro .intro-body .intro-text .intro-city {
    background-color: var(--highlight-default);
    border-radius: 3px;
}

/* --------------------------------------------------------------------------
   Code Section
   -------------------------------------------------------------------------- */
.code .code-body {
    margin: var(--bodySpacing);
}

.code .code-body .code-summary {
    font-size: var(--subtitleSize);
    font-weight: 300;
}

/* Filter Buttons */
.code-filter {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2.5rem 0 1.5rem 1.5rem;
}

.code-filter .filter-title {
    border-bottom: 1px dashed var(--primaryColor);
    cursor: help;
    font-size: 0.85rem;
    font-weight: 400;
    margin-right: 0.3rem;
    position: relative;
    text-transform: uppercase;
}

.code-filter .filter-title::before,
.code-filter .filter-title::after {
    left: 50%;
    position: absolute;
    transition: all 0.3s ease;
    visibility: hidden;
}

.code-filter .filter-title::before {
    border-color: transparent;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0.75);
    border-width: 10px 8px 0;
    content: '';
    top: -20px;
    transform: translate(-50%);
}

.code-filter .filter-title::after {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    color: #EEE;
    content: attr(data-tooltip);
    font-size: 0.8rem;
    padding: 0.625rem;
    text-transform: none;
    transform: translate(-10%, -126%);
    width: 200px;
}

.code-filter .filter-title:hover::before,
.code-filter .filter-title:hover::after {
    visibility: visible;
}

.code-filter .filter-btn {
    background: rgba(54, 54, 54, 0.1);
    border-radius: 3px;
    font-size: 0.95rem;
    margin: 0.3rem;
    padding: 0.25rem 0.5rem;
    text-transform: lowercase;
    transition: background 0.3s;
}

.code-filter .filter-btn:hover {
    background: rgba(54, 54, 54, 0.2);
}

.code-filter .filter-btn.filter-btn-isActive {
    background: var(--highlight-default);
    color: #FFF;
    cursor: default;
}

/* Item cards */
.code-work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--bodySpacing) * 2);
}

.code-work .code-card {
    background: #FFF;
    flex-basis: 100%;
}

.code-work .code-card:not(:first-child) {
    margin-top: 2rem;
}

.code-work .code-card .card-textarea {
    padding: var(--bodySpacing);
}

.code-work .code-card .card-textarea .card-title {
    margin-top: 0;
}

.code-work .code-card .card-textarea .card-title .card-title-url {
    color: var(--primaryColor);
}

.code-work .code-card .card-textarea .card-title .card-title-url:hover {
    color: rgba(54, 54, 54, 0.8);
}

.code-work .code-card .card-textarea .card-alltags {
    align-items: center;
    display: flex;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.code-work .code-card .card-textarea .card-alltags .card-tagicon {
    color: var(--highlight-default);
}

.code-work .code-card .card-textarea .card-alltags .card-tag {
    display: flex;
    flex-wrap: wrap;
}

.code-work .code-card .card-textarea .card-alltags .card-tag li {
    background: rgba(54, 54, 54, 0.05);
    border-radius: 3px;
    color: #B9BCBC;
    font-size: 0.8rem;
    margin-left: 0.3rem;
    padding: 0.1rem 0.2rem;
}

/* View Demo Button */
.code-work .code-card .card-btn {
    background: var(--highlight-default);
    border-radius: 4px;
    color: #FFF;
    display: block;
    margin: 0 auto 2rem;
    padding: 1rem 2rem;
    position: relative;
    transition: all 800ms ease;
}

.code-work .code-card .card-btn:hover {
    background: #47BBB3;
}

/* Show More Button */
.code-body .loadmore-btn {
    border: 2px solid var(--highlight-default);
    display: block;
    margin: 0 auto;
    padding: 1rem;
    width: 230px;
}

.code-body .loadmore-btn:hover {
    background: #EEFAF9;
}

.code-body .loadmore-btn .loadmore-icon {
    display: inline-block;
    padding-left: 0.5rem;
}

/* --------------------------------------------------------------------------
   About Section
   -------------------------------------------------------------------------- */
.about {
    background: rgba(78, 205, 196, 0.2);
}

.about .about-body {
    display: flex;
    flex-wrap: wrap;
    padding: var(--bodySpacing);
}

/* About Left Main Section */
.about-mainContent .about-subtitle {
    margin-bottom: 1rem;
}

.about-mainContent .about-description {
    line-height: 2.5;
}

.about-mainContent .about-description a {
    color: var(--about-linkColor);
}

.about-mainContent .about-description .about-underline {
    border-bottom: 2px solid var(--highlight-default);
    min-width: 75%;
    position: relative;
}

.about-mainContent .about-description .underline-title {
    font-size: 0.75rem;
    font-weight: 500;
    left: 0;
    position: absolute;
    top: 0.95rem;
    white-space: nowrap;
}

/* About Right Links Section */
.about-links label {
    color: #743131;
    display: block;
    font-weight: 600;
    margin: 1rem 0 0.3rem;
}

.about-links ul li a {
    color: var(--about-linkColor);
}

.about-links ul li a::before {
    color: #CCA300;
    content: "\f005";
    font-family: FontAwesome;
    padding-right: 0.3rem;
}

.about-links ul li a:hover {
    color: rgba(36, 94, 90, 0.8);
}

.about-links ul li .heart-icon::before {
    color: #FF8080;
    content: '\f004';
    font-family: FontAwesome;
}

/* --------------------------------------------------------------------------
   Contact Section
   -------------------------------------------------------------------------- */
.contact .contact-body {
    padding: var(--bodySpacing);
}

.contact .contact-body .contact-summary {
    font-size: var(--subtitleSize);
    font-weight: 300;
}

.contact .contact-body .contact-summary a {
    color: var(--highlight-default);
}

/* Form Base Styles */
.contact-form {
    background: #F1F1FA;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 2.5rem;
    overflow: hidden;
    padding: var(--bodySpacing);
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    color: var(--about-linkColor);
    display: inline;
    font-size: var(--form-inputSize);
    min-width: 9.5rem;
    width: auto;
}

.contact-form textarea {
    line-height: 1.5;
    width: 100%;
}

.contact-form p {
    margin: 0;
    padding: 0;
}

/* Form Headr Icon */
.contact-form .form-header-icon {
    background: url(/assets/img/email.svg) no-repeat left center;
    background-size: 48px 48px;
    border-bottom: 1px solid #E6E6E6;
    min-height: 3.25rem;
}

/* Form Header */
.contact-form .form-header {
    border-bottom: 1px dashed #E6E6E6;
    padding: 1rem 0;
}

.contact-form .form-header .form-row {
    align-items: baseline;
    display: flex;
}

.contact-form .form-header .form-row label,
.contact-form .form-header .form-row .form-inputValue {
    line-height: 1.5;
    vertical-align: baseline;
}

.contact-form .form-header .form-row label {
    width: 25%;
}

.contact-form .form-header .form-row .form-inputValue {
    font-size: var(--form-inputSize);
    width: 75%;
}

/* Form Body */
.contact-form .form-body {
    padding: 1rem 0;
}

.contact-form .form-body input,
.contact-form .form-footer input {
    border-bottom: 1px dashed rgb(202, 181, 204);
}

.contact-form .form-body input {
    margin: 0 3px;
    padding: 2px 5px;
    text-align: center;
}

.contact-form .form-body .form-body-description {
    font-size: 0.8rem;
}

/* Form Footer */
.contact-form .form-footer input {
    padding: 2px 0;
}

.contact-form .form-footer .form-send-btn {
    margin: 2rem 0 1rem;
    text-align: right;
}

.contact-form .form-footer .form-send-btn .send-btn {
    background: var(--highlight-default);
    border-radius: 3px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    color: #FFF;
    display: inline-block;
    overflow: hidden;
    padding: 0.8rem 1.2rem;
    position: relative;
}

.contact-form .form-footer .form-send-btn .send-btn::before {
    content: '\f1d8';
    display: block;
    font-family: FontAwesome;
    height: 100%;
    left: 0;
    padding: 0.8rem;
    position: absolute;
    top: -100%;
    width: 100%;
}

.contact-form .form-footer .form-send-btn .send-btn .send-btn-text {
    bottom: 0;
    display: block;
    position: relative;
    transition: 0.25s ease-in-out;
}

.contact-form .form-footer .form-send-btn .send-btn:hover {
    background: #5ED1C9;
}

.contact-form .form-footer .form-send-btn .send-btn:hover .send-btn-text {
    bottom: -56px;
}

.contact-form .form-footer .form-send-btn .send-btn:hover::before {
    top: 0%;
}

/* --------------------------------------------------------------------------
   Footer Section
   -------------------------------------------------------------------------- */
.footer-copyright {
    font-size: 0.8rem;
    padding: 2rem;
    text-align: center;
}

.footer-copyright .footer-heartIcon {
    color: #FF6B6B;
}

/* --------------------------------------------------------------------------
   Responsive Layout
   -------------------------------------------------------------------------- */

@media only screen and (min-width: 500px) {
    /* Header Nav Menu */
    .menu .menu-body {
        justify-content: center;
    }

    .menu .menu-body .menu-navMain .navMain-items {
        margin-left: 1rem;
    }

    .menu .menu-navSocial {
        display: block;
    }

    .menu .menu-navSocial .navSocial-items {
        display: flex;
    }

    .menu .menu-navSocial .navSocial-items li {
        padding-left: 0.5rem;
    }

    .menu .menu-navSocial .navSocial-items li:first-child {
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) {
    /* Intro Section */
    .intro .intro-body {
        padding: calc(var(--bodySpacing) * 2);
    }

    /* Code Section */
    .code .code-body {
        margin: calc(var(--bodySpacing) * 2);
    }

    .code-work {
        margin-bottom: calc(var(--bodySpacing) * 3);
    }

    .code-work .code-card .card-textarea {
        padding: calc(var(--bodySpacing) * 1.25);
    }

    .code-body .loadmore-btn {
        padding: 1rem 1.6rem;
    }

    /* About Section */
    .about .about-body {
        padding: calc(var(--bodySpacing) * 2);
    }

    /* Contact Section */
    .contact .contact-body {
        padding: calc(var(--bodySpacing) * 2);
    }

    .contact-form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media only screen and (min-width: 992px) {
    main {
        flex: 1;
    }

    .wrapper {
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }

    /* Header Nav Menu */
    .menu {
        flex: 0 0 15rem;
        flex-direction: column;
        max-width: 15rem;
        padding: 2rem;
    }

    .menu-isFixed {
        height: 100vh;
        position: static;
    }

    .menu .menu-body {
        flex-direction: column;
        justify-content: flex-start;
    }

    .menu .menu-body .menu-logo a {
        height: 120px;
        margin: 0 auto;
        width: 120px;
    }

    .menu .menu-body .menu-navMain h1 {
        display: block;
    }

    .menu .menu-body .menu-navMain .navMain-items {
        align-items: center;
        flex-direction: column;
        margin: 1.25rem 0;
    }

    .menu .menu-body .menu-navMain .navMain-items li {
        padding: 1rem 0;
    }

    .menu .menu-navSocial .navSocial-items li {
        padding-left: 0.8rem;
    }

    .menu .menu-navSocial .navSocial-items li .navSocial-icons {
        font-size: 1.25rem;
    }

    /* Intro Section */
    .intro {
        margin-top: 0;
    }

    .intro .intro-body {
        margin-left: 8.33333%;
        max-width: var(--gird-10);
    }

    .intro .intro-body .intro-title {
        font-size: 6.25rem;
    }

    .intro .intro-body .intro-text {
        font-size: 1.75rem;
    }

    /* Code Section */
    .code-work .code-card {
        flex-basis: calc(50% - var(--bodySpacing) * 2);
        margin-bottom: calc(var(--bodySpacing) * 2);
        margin-right: calc(var(--bodySpacing) * 2);
        position: relative;
    }

    .code-work .code-card:not(:first-child) {
        margin-top: 0;
    }

    .code-work .code-card .card-textarea {
        margin-bottom: calc(var(--bodySpacing) * 2);
    }

    .code-work .code-card .card-textarea .card-alltags {
        margin-bottom: 2rem;
    }

    .code-work .code-card .card-btn {
        bottom: var(--bodySpacing);
        left: 50%;
        margin-bottom: 0;
        position: absolute;
        transform: translateX(-50%);
    }

    /* About Section */
    .about .about-body {
        padding: calc(var(--bodySpacing) * 2);
    }

    .about .about-body h2 {
        flex: 1 1 100%;
    }

    .about-mainContent {
        flex: 3;
    }

    .about-links {
        flex: 1;
        margin: 1.125rem 0 0 1.875rem;
    }

    /* Contact Section */
    .contact-form {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}
